body{background: #171A21}
.GamePad {
    position: absolute;
    left: 3.13%;
    right: 3.12%;
    top: 47px;
    bottom: 16.66%;
}
.GameStore {
    position: absolute;
width: 64px;
height: 44px;
left: 115px;
top: 28px;

font-family: Manrope;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.01em;
text-transform: uppercase;

color: #FFFFFF;
}
.Findgame {
    display: flex;
flex-direction: row;
align-items: center;
padding: 16px;

position: absolute;
width: 297px;
height: 48px;
left: 200px;
top: 26px;

background: #0D1017;
border-radius: 5px;

}
.Games {
    position: absolute;
width: 39px;
height: 22px;
left: 900px;
top: 38px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* identical to box height */

color: #ECEFF4;
}
.News {
    position: absolute;
width: 65px;
height: 22px;
left: 985px;
top: 38px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* identical to box height */

color: rgba(236, 239, 244, 0.4);
}
.Last {
    position: absolute;
width: 145px;
height: 22px;
left: 1080px;
top: 38px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* identical to box height */

color: rgba(236, 239, 244, 0.4);


}
.Library {
    position: absolute;
width: 90px;
height: 22px;
left: 1235px;
top: 38px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* identical to box height */

color: rgba(236, 239, 244, 0.4);
}
.Pic {
    position: absolute;
width: 56px;
height: 56px;
left: 1350px;
top: 22px;

border-radius: 5px;
}
.Vector {
    position: absolute;
left: 1420px;
right: -62.5%;
top: 6.3%;
bottom: 8.33%;
}
.Exit {
    position: absolute;
width: 48px;
height: 16px;
left: 1450px;
top: 45px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;

/* identical to box height, or 100% */

color: rgba(255, 255, 255, 0.5);
}
.Sales {
    position: absolute;
width: 249px;
height: 10px;
left: 55px;
top: 110px;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;

/* identical to box height, or 120% */

color: #ECEFF4;
}
.watch {
    position: absolute;
width: 158px;
height: 48px;
left: 1340px;
top: 115px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 48px;
}
.borderlands {
    position: absolute;
width: 600px;
height: 551.35px;
left: -23px;
top: 70px;

background: url(image.png);
opacity: 0.9;
}
.TOW {
    position: absolute;
width: 1221.35px;
height: 1077.97px;
left: 200px;
top: 70px;

background: url(Без названия (2).jpg);
opacity: 0.9;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.RDR {
    position: absolute;
width: 867.69px;
height: 506.33px;
left: -23px;
top: 470px;

background: url(image.png);
}
.factorio {
    position: absolute;
width: 870px;
height: 401px;
left: 720px;
top: 470px;

background: url(image.png);
border-radius: 8px;
}
.GameStore2022{
    position: absolute;
width: 132px;
height: 27px;
left: 60px;
top: 1000px;

font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 170%;
color: #FFFFFF;
}
.rights{
    position: absolute;
width: 181px;
height: 27px;
left: 690px;
top: 1000px;

font-family: Manrope;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 170%;
/* or 27px */
color: #FFFFFF;
}
.user {
    position: absolute;
width: 244px;
height: 27px;
left: 1285px;
top: 1000px;

font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170%;
/* or 27px */
text-decoration-line: underline;
color: #FFFFFF;
}
.main {
    position: absolute;
width: 50px;
height: 50px;
left: 80px;
top: 153px;
}
.down{
    position: absolute;
width: 1450px;
height: 75px;
left: 55px;
top: 1000px;
opacity: 0.5;
background: #0D1017;
}
.Rectangle {
    position: absolute;
width: 369px;
height: 175px;
left: 405px;
top: 373px;
}
.borderlands3 {
    position: absolute;
width: 200px;
height: 48px;
left: 430px;
top: 420px;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;

/* identical to box height, or 99% */
text-align: right;
}
.find {
    position: absolute;
width: 74px;
height: 16px;
left: 213px;
top: 50px;

font-family: Manrope;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
}